@import "../styles/colors.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 8px;
}

.buttonWrapper {
  width: 100px;
}
