@import "../styles/colors.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 8px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.buttonWrapper {
  width: 100px;
}

.headerTitle {
  margin-left: 24px;
}
