@import "../styles/colors.scss";

.contactItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 8px;
}

.editItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 100px;
  background-color: rgb(247, 247, 247);
  color: $secondary-text;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(192, 191, 191);
  }

  &:active {
    color: orangered;
    background-color: rgb(255, 231, 231);
  }

  &.disabled {
    background-color: $disabled;
    pointer-events: none;
  }
}
